html {
  font-family: ;
  font-size: 12px;
}

body {
  margin: 0;
}

.minirepl {
  border: 1px solid black;
}


html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
  background-color: #505050;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

.Blog {
  color: #b5be00;
  text-align: center;
  font-family:monospace;
}

.List {
  color: #b5be00; /*#a5a959;#c27fb0;*/
  font-size: 1.5em;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  border: 2px solid #333333;

}

.Row:hover {
  box-sizing: border-box;
  border: 2px solid #f00;
}
.Row:active {
  box-sizing: border-box;
  background-color: white;
}

.ListItemEven {
  background-color: #505050;
}

.blink_me {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
